.modalPage {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0, 0.5);
}

.myModalContent {
    padding: 25px;
    background: rgb(224, 224, 224);
    border-radius: 1vh;
    min-width: 250px;
}

.modalPage.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorBorder {
    border: 2px solid #ff4d4f;
    animation: shake 0.5s;
}

.errorText {
    color: #ff4d4f;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}


